<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body th:fragment="bookTable">
        <table class="table table-stripped table-bordered">
          <thead class="table-dark">
          <tr>
            <td>ID</td>
            <td>Title</td>
            <td>Price</td>
            <td>Year Published</td>
            <td>Description</td>
            <td>Author</td>
            <td>Category</td>

          </tr>
          </thead>
          <tbody>
          <tr th:each="book: ${books}">
            <td th:text="${book.id}"></td>
            <td th:text="${book.title}"></td>
            <td th:text="${book.price}"></td>
            <td th:text="${book.yearPublished}"></td>
            <td th:text="${#strings.substring(book.description,0,5)+'....'}"></td>
            <td th:text="${book.author.authorName}"></td>
            <td th:text="${book.category.categoryName}"></td>

          </tr>
          </tbody>
        </table>

</body>
</html>